body {
    background-color: #FFF8F0
}
    main {
        display: inline-block;
        width: 850px;
        margin-left: calc((100% - 850px) / 2);
        margin-top: 40px;

    }
        header {
            display: inline-block;
            width: 100%;
        }
            main > header > img {
                display: inline-block;
                width: 13%;
                float: left;
                margin: 0;

            }
            nav {
                display: inline-block;
                width: 84%;
                float: left;
                margin-left: 20px;
            }
               header > nav > a {
                    display: inline-block;
                    color: #393029;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: sans-serif;
                    font-size: 10px;
                    font-weight: bold;
                    padding: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 20px;
                    margin-top: 10px;
                }
                    header > nav > a:hover {
                        text-decoration: underline;
                        text-decoration-color: #EC984F;
                    }
                header > nav > a:last-of-type {
                    float: right;
                    background-color: white;
                    border: 1px solid #393029;
                }
                    header > nav > a:last-of-type:hover {
                        background-color: #393029;
                        color: white;
                        text-decoration: none;
                    }
        section {
            display: inline-block;
            width: 100%;
        }
            div {
                display: inline-block;
                width: 45%;
                float: left;
                margin-top: 70px;

            }
                h1 {
                    color: #3B2E28;
                   font-size: 57px;
                   margin: 0;
                   font-family: Verdana, Geneva, Tahoma, sans-serif;
                   line-height: 1;
                }
                p {
                    color: #393029;
                    margin: 0;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-right: 126px;
                    font-size: 21px;
                    line-height: 1.4;
                }
                section > div > a {
                    color: #393029;
                    text-transform: uppercase;
                    font-family: sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 30px;
                    text-decoration-color: #EC984F;
                }

                section > img {
                display: inline-block;
                width: 45%;
                float: left;
                margin-left: 50px;
                margin-top: 20px;

            }

